@import "tailwindcss";

:root {
  --primary-900: #2B579A;
  --primary-800: #2E74C9;
  --primary-700: #3485D3;
  --primary-600: #3A96DD;
  --primary-500: #42A6E7;
  --primary-400: #59B7F2;
  --primary-300: #77C7FA;
  --primary-200: #9DDBFF;
  --primary-100: #CBE9FE;
  --primary-50: #E9F7FF;
  
  --background: #FFFFFF;
  --foreground: #333333;
  --card-bg: #FFFFFF;
  --card-border: #E5E7EB;
  --card-header: #F3F4F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
